<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OrvixApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="Orvix IMS"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrvixIMS"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".bootstrap.presentation.UpdateRequiredActivity"
            android:exported="false" />

        <activity
            android:name=".bootstrap.presentation.SetupActivity"
            android:exported="false" />

        <activity
            android:name=".scan.presentation.vehicle.VehicleScanActivity"
            android:exported="false" />

        <activity
            android:name=".scan.presentation.sparepart.SparePartScanActivity"
            android:exported="false" />

        <activity
            android:name=".scan.presentation.asset.AssetScanActivity"
            android:exported="false" />

        <activity
            android:name=".workarea.presentation.WorkAreaActivity"
            android:exported="false" />

        <activity
            android:name=".location.presentation.LocationSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".task.presentation.TaskListActivity"
            android:exported="false" />

        <activity
            android:name=".auth.presentation.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.OrvixIMS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>
